
.flex-container{
    display: flex;
    flex-direction:row;
    align-self: flex-start;
    flex-grow:2;
}
.way{
    height: 230px;
    width: 100%;
    background-color: #696969;
}
.flex {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.article_1{
    margin-bottom:0.2em;
    background-color:#696969;
}
.article_2{
    margin-bottom:0.2em;
    background-color:#696969;
}
.footer{
    margin-bottom:0.2em;
    background-color: #696969;
    clear: both;
}
.clear{
    clear: both;
}
 .mail{
    float: right;
    height:25px;
    width:25px;
 }