body{
    display: flex;
    flex-direction: column;
}
.container{
   display: flex;
   flex-direction: row (1) ;
}
.way{
    width: 15em;
    background-color: #696969;
}

.article_1{
    margin-bottom:0.2em;
    background-color:#696969;
    display: flex (1);
    flex-direction: column;
}
.footer{
    margin-bottom:0.2em;
    background-color: #696969;
    clear: both;
}
.clear{
    clear: both;
}
 .mail{
    float: right;
    height:45px;
    width:45px;
 }