body {
    margin: 0.1em;
}
.container{
   flex-direction:column ;
   height: auto;
   background-color: grey;
   align-items: flex-start;
   margin-bottom: 0.2em;

}
.box{
    text-align: left;
    width: 15em;
    background-color: #696969;
    float: left;
    justify-content: center;
    flex-direction: column;
}

.footer{
    margin-bottom:0.2em;
    background-color: #696969;
    clear: both;
}
.clear{
    clear: both;
}
 .mail{
    float: right;
    height:45px;
    width:45px;
 }