.container{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    background-color:yellow;
    flex-grow: (16);
}
.navigation{
    width: 15em;
    margin: bottom 0.2em;
    background-color:#A9A9A9;
    display: block;
    float: left;
    height: 35em;
}
.article_1{
    margin-bottom: 0.2em;
    background-color:#696969;
    display: block;
    height: 16.89em;
}   
.clear{
    clear: both;
    background-color: black;
}
.footer{
    margin-bottom: 0.2em;
    background-color: #696969;
    clear: both;
}
 .mail{
    float: right;
    height: 125px;
    width:125px;
 }