.container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    background-color: black;
}
.navigation{
    width: 15em;
    height: 25em;
    margin-bottom: 2em;
    background-color:#A9A9A9;
    display: block;
    float: left;
}
.article_1{
    margin-bottom: 0.02em;
    height: 12em;
    background-color:#696969;
    display: block;
    float:inherit
}
.footer{
    margin-bottom: 0.2em;
    background-color: #696969;
    clear: both;
}
.clear{
    clear: both;
}
div{
    display: block;
}
 .mail{
    float: right;
    clear:both;
 }