span{
    font-size: 200px;
    line-height: .7;
    display: block;
    float: left;
    height: 183px;
}
.Ace {
    width: 145px; 
    height: 215px;
    background-image: url('cards.7e0a18f0.png');
    background-repeat: no-repeat;
    background-position: -150px -185px;
    font-size: 200px;
    float: left;
}
.queen{
    width: 145px; 
    height: 215px;
    background-image: url('cards.7e0a18f0.png');
    background-repeat: no-repeat;
    background-position: -3px -1780px;
    font-size: 200px;
    float: left;

}
.dimonds{
    width: 145px; 
    height: 215px;
    background-image: url('cards.7e0a18f0.png');
    background-repeat: no-repeat;
    background-position: -280px -1380px;
    font-size: 200px;
    float: left;


}
.HEARTS{
    width: 145px; 
    height: 215px;
    background-image: url('cards.7e0a18f0.png');
    background-repeat: no-repeat;
    background-position: -140px -2180px;
    font-size: 200px;
    float: left;
  

}
.Joker{
    width: 145px; 
    height: 215px;
    background-image: url('cards.7e0a18f0.png');
    background-repeat: no-repeat;
    background-position: -5px -2380px;
    font-size: 200px;
    float: left;
}