
.Ace_1 {
    width: 145px; 
    height: 215px;
    background-image: url('cards.7e0a18f0.png');
    background-repeat: no-repeat;
    background-position: -150px -185px;
    font-size: 200px;
    float: left;  
}
.queen_1{
    width: 145px; 
    height: 215px;
    background-image: url('cards.7e0a18f0.png');
    background-repeat: no-repeat;
    background-position: -3px -1780px;
    font-size: 200px;
    float: left;
}
.dimonds_1{
    width: 145px; 
    height: 215px;
    background-image: url('cards.7e0a18f0.png');
    background-repeat: no-repeat;
    background-position: -280px -1380px;
    font-size: 200px;
    float: left;
}
.HEARTS_1{
    width: 145px; 
    height: 215px;
    background-image: url('cards.7e0a18f0.png');
    background-repeat: no-repeat;
    background-position: -140px -2180px;
    font-size: 200px;
    float: left;
}
.Joker_1{
    width: 145px; 
    height: 215px;
    background-image: url('cards.7e0a18f0.png');
    background-repeat: no-repeat;
    background-position: -5px -2380px;
    font-size: 200px;
    float: left;
}

.Ace_2 {
    width: 145px; 
    height: 215px;
    background-image: url('cards.7e0a18f0.png');
    background-repeat: no-repeat;
    background-position: -150px -185px;
    font-size: 200px;
    float: left;  
}
.queen_2{
    width: 145px; 
    height: 215px;
    background-image: url('cards.7e0a18f0.png');
    background-repeat: no-repeat;
    background-position: -3px -1780px;
    font-size: 200px;
    float: left;
    margin-left: -61px;
    margin-top: 0px;
}
.dimonds_2{
    width: 145px; 
    height: 215px;
    background-image: url('cards.7e0a18f0.png');
    background-repeat: no-repeat;
    background-position: -280px -1380px;
    font-size: 200px;
    float: left;
    margin-left: 31px;
    margin-left: -61px;
    margin-top:  0px;
}
.HEARTS_2{
    width: 145px; 
    height: 215px;
    background-image: url('cards.7e0a18f0.png');
    background-repeat: no-repeat;
    background-position: -140px -2180px;
    font-size: 200px;
    float: left;
     margin-left: -61px;
    margin-top:  0px;
}
.Joker_2{
    width: 145px; 
    height: 215px;
    background-image: url('cards.7e0a18f0.png');
    background-repeat: no-repeat;
    background-position: -5px -2380px;
    font-size: 200px;
    float: left;
    margin-left: -61px;
    margin-top:  0px;
}
.clear{
    clear: both;
}