.navigation{
    width: 15em;
    background-color:#A9A9A9;
    display: block;
    float: left;
}
.article_1{
    margin-bottom:0.2em;
    background-color:#696969;
}
.footer{
    margin-bottom:0.2em;
    background-color: #696969;
    clear: both;
}
.clear{
    clear: both;
}
 .mail{
    float: right;
    height:25px;
    width:25px;
 }